@import './_reset', './_font', './_mixin';

html,
body,
#root {
    height: 100%;
}

body {
    background-color: #fff;
    // font-family: 'JetBrains Mono', ui-sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, 'Apple Color Emoji', Arial, sans-serif,
    //     'Segoe UI Emoji', 'Segoe UI Symbol', 'Nanum Gothic';
    font-family: 'Pretendard-Regular';
    color: #333;
}
h1 {
    padding: 30px 0 15px;
    color: #000;
    font-size: 22px;
    font-family: 'Malgun Gothic';
}

h2 {
    padding-left: 5px;
    color: #000;
    font-size: 18px;
    font-family: 'Malgun Gothic';
}

caption {
    visibility: hidden;
    width: 0;
    height: 0;
    overflow: hidden;
    font: 0/0 'arial';
}

a {
    color: #2277ee;
    text-decoration: none;

    &:active,
    &:visited,
    &:focus,
    &:hover {
        color: #2277ee;
        text-decoration: underline;
    }
}
table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    word-break: break-all;
    word-wrap: break-word;
}
.App {
    padding-bottom: 40px;
    text-align: center;
    & > * {
        max-width: 1200px;
        margin: 0 auto;
    }
    .total_page {
        padding: 10px;
        font-size: 16px;
        text-align: right;
        span {
            font-size: 20px;
            color: red;
        }
    }
    .table_wrap {
        clear: both;
        text-align: left;
        & > thead {
            & > tr {
                th {
                    padding: 10px 0 9px;
                    background: #666;
                    border: 1px solid #999;
                    font-weight: 400;
                    text-align: center;
                    color: #fff;
                }
            }
        }
        & > tbody {
            .on > * {
                background: #f6f6f6;
            }
            .section > * {
                background: #eee !important;
                th {
                    padding-left: 10px;
                }
            }
            & > tr {
                th {
                    border: 1px solid #999;
                    &.date {
                        &::after {
                            content: '(8 = 1Day)';
                        }
                    }
                }
                td {
                    border: 1px solid #999;
                    &.link {
                        cursor: pointer;
                        color: #999;
                    }
                    &.day {
                        text-align: center;
                    }
                    &.end {
                        text-align: center;
                        color: #ee0000;
                    }
                }
            }
        }
    }

    .table_list {
        td {
            padding: 4px 5px;
            &.page_name {
                padding-left: 10px;
            }
            &.detail {
                padding: 7px 10px;
                line-height: 24px;
            }
        }
    }
}
